.text {
  margin-left: 8px;
}

.rightSection {
  margin-left: auto;
}

.label {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 4px 0;
}

.dropdown {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}

.divider {
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.hidden {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.pageBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pageTransition {
  transition: opacity 0.5s ease-in-out;
}

.dropzone:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropzoneIcon {
  margin-bottom: 20px;
}

.dropzone p {
  color: #3a3a3a;
  transition: opacity 0.3s ease;
}

.dragOver p {
  opacity: 0;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.deleteButton {
  padding: 10px 20px;
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.selectButton:hover {
  background-color: #0056b3;
}


.deleteButton:hover {
  background-color: #8f1a25; 
}

.removeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgb(183, 25, 25);
  color: white;
  border: none;
  border-radius: 35%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; 
}

.removeButton:hover {
  background-color: darkred;
}


.hoverEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(121, 121, 121, 0.225);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}


.imagePreviewWrapper:hover .hoverEffect {
  display: block;
}

.dropzoneWithPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: fit-content; 
  max-width: 100%; 
}

.dropzone {
  width: 100%;
  min-height: 200px; 
  flex-wrap: wrap;
  background-color: rgba(147, 136, 136, 0.373);
  border: 2px dashed #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s ease;
  position: relative;
  opacity: 1;
  cursor: pointer;
}

.imagePreviewWrapper {
  position: relative;
  margin: 5px;
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  pointer-events: none; 

}

.imagePreview {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  object-fit: cover;
  pointer-events: none; 
}
.previewsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start; 
  object-fit: cover;
  pointer-events: none; 
}
