.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: 6.25rem;
    font-weight: 900;
    letter-spacing: -0.125rem;
  
    @media (max-width: $mantine-breakpoint-md) {
      font-size: 3.125rem;
    }
  }
  .pageTransition {
    transition: opacity 0.5s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
  }
  
  .fadeIn {
    opacity: 1;
  }
  


