.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: 6.25rem;
    font-weight: 900;
    letter-spacing: -0.125rem;
  
    @media (max-width: $mantine-breakpoint-md) {
      font-size: 3.125rem;
    }
  }
  .fadeIn {
    animation: 0.5s fadeIn forwards;
  }
  
  .fadeOut {
    animation: 0.5s fadeOut forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-20px, 0);
    }
    to {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(-20px, 0);
      opacity: 0;
    }
  }
  


