
.navContainer {
  background-color: #282c34; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  position: fixed;  /* Фиксированное положение */
  top: 0;  /* Прилепляем к верху */
  left: 0;
  gap: 20px;
  width: 100%; 
  height: 60px;  /* На всю ширину экрана */
  z-index: 100;  /* Чтобы он был выше остальных элементов */
}

.active {
  text-decoration: none;
  color: rgb(255, 247, 0); 
}

.navLink {
  text-decoration: none;
  color: white; 
  font-size: 18px; 
  transition: color 0.3s; 
}

.navLink:hover {
  text-decoration: underline;
  color: #61dafb; 
}

body {
  padding-top: 0px;  /* Чтобы контент не прилипал к навбару */
}



