/* Layout.module.css */
.ratingPageBackground {
  background-color: rgb(103, 82, 137);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuPageBackground {
  background-color: rgb(141, 159, 104);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageBackground {
  background-color: rgb(58, 117, 144);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.defaultBackground {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryPageBackground {
    background-color: #f0f0f0;
  min-height: 100vh;
}
.debug-background {
    border: 2px solid red; /* Временный стиль для отладки */
  }
  
  .pageTransition {
    transition: opacity 0.5s ease-in-out;
  }
  
  .fadeIn {
    opacity: 1;
  }
  
  .fadeOut {
    opacity: 1;
  }

  /* Темные версии фонов */
.ratingPageBackgroundDark {
  background-color: rgb(47, 35, 66);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuPageBackgroundDark {
  background-color: rgb(64, 85, 22);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageBackgroundDark {
  background-color: rgb(5, 67, 105);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryPageBackgroundDark {
  background-color: rgb(100, 100, 100);

}

.defaultBackgroundDark {
  background-color: #1a1a1a;

}

  